{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link href="invoice.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'smartcare_finance/invoice.css' %}">
  </head>
  <body>
	<header>
        <img src="{% static 'smartcare_finance/logo.png' %}" alt="smartcare logo" />
        <div>
            <p><b>Turnover Report</b></p>
            <p>{{ from_date|date:"d/m/Y" }} - {{ to_date|date:"d/m/Y" }}</p>
            <p><b>Requested by:</b></p>
            <p>#{{ requested_by.id }} - {{ requested_by.first_name }} {{ requested_by.last_name }}</p>
        </div>
    </header>
    <hr/>
    <div id="content">
        <div id="grand-total">
            <h3>Grand Total</h3>
            <table>
                <thead>
                    <tr>
                        <th>Income Source</th>
                        <th>Total</th>
                        <th>Settled</th>
                    </tr>
                </thead>
                <tbody>
                {% for row, amounts in grand_total.items %}
                    <tr>
                        <td>{{ row }}</td>
                        <td>£{{ amounts.total|floatformat:2 }}</td>
                        <td>£{{ amounts.settled|floatformat:2 }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% if breakdown %}
        <div id="breakdown">
            <h3>Breakdown</h3>
            <table>
                <thead>
                    <tr>
                        <th>Month</th>
                        <th>Income Source</th>
                        <th>Total</th>
                        <th>Settled</th>
                    </tr>
                </thead>
                <tbody>
                {% for month in breakdown %}
                    {% if payment_type == "all" and month.full_total %}
                    <tr>
                        <td><b>{{ month.month|date:"F Y" }}</b></td>
                        <td><b>All</b></td>
                        <td><b>£{{ month.full_total|floatformat:2 }}</b></td>
                        <td><b>£{{ month.settled_total|floatformat:2 }}</b></td>
                    </tr>
                    {% endif %}

                    {% if payment_type == "all" or payment_type == "nhs" %}
                    {% if month.nhs_full_total %}
                    <tr>
                        <td>{{ month.month|date:"F Y" }}</td>
                        <td>NHS</td>
                        <td>£{{ month.nhs_full_total|floatformat:2 }}</td>
                        <td>£{{ month.nhs_settled_total|floatformat:2 }}</td>
                    </tr>
                    {% endif %}
                    {% endif %}

                    {% if payment_type == "all" or payment_type == "private" %}
                    {% if month.private_full_total %}
                    <tr>
                        <td>{{ month.month|date:"F Y" }}</td>
                        <td>Private</td>
                        <td>£{{ month.private_full_total|floatformat:2 }}</td>
                        <td>£{{ month.private_settled_total|floatformat:2 }}</td>
                    </tr>
                    {% endif %}
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
        
    </div>
  </body>
</html>